<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nofem">
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.INTERNET" />
    <application
        android:requestLegacyExternalStorage="true"
        android:windowSoftInputMode="adjustResize"
        android:allowBackup="true"
        android:icon="@mipmap/newicon4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/roundicons"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m"
        tools:ignore="AllowBackup">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main_con"/>
        <activity android:name=".fromnet.net_list"/>
        <activity android:name=".fromnet.net_main"/>
        <activity android:name=".fromnet.net_con"/>
        <activity android:name=".fromnet.net_savecon"/>
    </application>

</manifest>